<div id="catalog" style="
    position: sticky;
    font-size: 10pt;
">
	<ul>
		<li>
			<a href="#directory067802098956048961">1 前言</a>
		</li>
		<li>
			<a href="#directory067802098956048962">2 需要的材料</a>
			<ul>
				<li>
					<a href="#directory067802098956048963">2.1 x86 CPU的群晖DSM一台.</a>
				</li>
				<li>
					<a href="#directory067802098956048964">2.2 公网IP一个.</a>
				</li>
				<li>
					<a href="#directory067802098956048965">2.3 博客系统文件zip一个.</a>
				</li>
				<li>
					<a href="#directory067802098956048966">2.4 域名一个.</a>
				</li>
				<li>
					<a href="#directory067802098956048967">2.5 SSL证书一个</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#directory067802098956048968">3 用 Docker 搭建 Typecho 运行环境</a>
			<ul>
				<li>
					<a href="#directory067802098956048969">3.1 博客文件放哪?</a>
				</li>
				<li>
					<a href="#directory0678020989560489610">3.2 解压缩</a>
				</li>
				<li>
					<a href="#directory0678020989560489611">3.3 安装 Docker</a>
				</li>
				<li>
					<a href="#directory0678020989560489612">3.4 下载 nginx 镜像</a>
				</li>
				<li>
					<a href="#directory0678020989560489613">3.5 创建容器</a>
				</li>
				<li>
					<a href="#directory0678020989560489614">3.6 设置装载路径</a>
				</li>
				<li>
					<a href="#directory0678020989560489615">3.7 设置端口</a>
				</li>
				<li>
					<a href="#directory0678020989560489616">3.8 Docker 容器完成</a>
				</li>
				<li>
					<a href="#directory0678020989560489617">3.9 镜像下载失败?</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#directory0678020989560489618">4 Typecho 安装配置</a>
			<ul>
				<li>
					<a href="#directory0678020989560489619">4.1 第一次进入 Typecho.</a>
				</li>
				<li>
					<a href="#directory0678020989560489620">4.2 配置数据库与管理员账号</a>
				</li>
				<li>
					<a href="#directory0678020989560489621">4.3 安装成功!</a>
				</li>
				<li>
					<a href="#directory0678020989560489622">4.4 可能遇到的问题</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#directory0678020989560489623">5 开始使用 Typecho 吧</a>
			<ul>
				<li>
					<a href="#directory0678020989560489624">5.1 再次进入 Typecho 首页</a>
				</li>
				<li>
					<a href="#directory0678020989560489625">5.2 登录进入后台</a>
				</li>
				<li>
					<a href="#directory0678020989560489626">5.3 使用后台管理</a>
				</li>
				<li>
					<a href="#directory0678020989560489627">5.4 基本的设置</a>
				</li>
				<li>
					<a href="#directory0678020989560489628">5.5 我是外观党</a>
				</li>
				<li>
					<a href="#directory0678020989560489629">5.6 更直观的编辑器插件</a>
				</li>
				<li>
					<a href="#directory0678020989560489630">5.7 第一篇博文</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#directory0678020989560489631">6 加上域名与SSL证书</a>
			<ul>
				<li>
					<a href="#directory0678020989560489632">6.1 添加域名</a>
				</li>
				<li>
					<a href="#directory0678020989560489633">6.2 准备证书</a>
				</li>
				<li>
					<a href="#directory0678020989560489634">6.3 放置证书文件</a>
				</li>
				<li>
					<a href="#directory0678020989560489635">6.4 修改站点地址</a>
				</li>
				<li>
					<a href="#directory0678020989560489636">6.5 重启 Docker 容器</a>
				</li>
				<li>
					<a href="#directory0678020989560489637">6.6 完成</a>
				</li>
			</ul>
		</li>
		<li>
			<a href="#directory0678020989560489638">7 总结</a>
		</li>
	</ul>
</div>